.Header-logoandsearch_container {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_logo-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header_logo-container h1 {
  display: flex;
}

.square {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.1rem;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}

.squareTwo {
  transform: translateY(-5px);
}
.squareTree {
  transform: translateY(5px);
}

.Header_search-container {
  width: 50%;
}

.Header_search-container input {
  width: 100%;
  padding: 0.4rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  color: var(--hover);
  -webkit-appearance: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.Header_search-container input::placeholder {
  color: var(--hover);
}

.Header-genders_container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
}
.Header-genders_container::-webkit-scrollbar {
  display: none;
}

.Header-genders_container button {
  width: auto;
  margin: 0 0.3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  white-space: nowrap;
  background-color: var(--secondary);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.Header-genders_container button:focus {
  background-color: var(--yellow);
  color: var(--primary);
}
