.slider-container {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(4, 95vw);
  grid-template-rows: repeat(1, 23rem);
  grid-gap: 1rem;

  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-image {
  width: 100%;
  height: 85%;
}

.slider-title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--hover);
  cursor: pointer;
}
.slider-title span {
  font-weight: 500;
}
