.Details-conatiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Details-image {
  width: 100%;
  margin: 2rem auto;
}

.Details-info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Details-title {
  font-size: 2rem;
  color: var(--hover);
}

.Details-actionsAndInfo_container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Details-bookmark {
  height: 1.2rem;
}

.Details-duration,
.Details-year {
  font-size: 1.2rem;
  color: var(--hover);
}

.Details-qualification {
  color: var(--yellow);
}

.Details-description {
  width: 100%;
  margin-top: 2rem;
  color: var(--hover);
  text-align: justify;
  font-size: 1.3rem;
}

.Details-cast_title {
  margin: 2rem auto 0 0;
  font-size: 1.6rem;
  color: var(--hover);
}

.Details-cast {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: both;
  scrollbar-width: none;
}

.Details-cast::-webkit-scrollbar {
  display: none;
}

.Cast-info_container {
  width: 12rem;
  margin: 0 0.5rem;
  flex-direction: column;
}

.Cast-info_image_container {
  width: 12rem;
  height: 15rem;
  overflow: hidden;
}

.Cast-info_container img {
  width: 100%;
  object-fit: contain;
}

.Cast-info_container p {
  margin-top: 1rem;
}
